# Python
__pycache__/
*.py[cod]
# *.pkl
*.sqlite3
*.log
.env
.venv/
venv/
env/

# VSCode
.vscode/

# FastAPI specific
app/__pycache__/
# app/ml_model/*.pkl

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# React
frontend/node_modules/
frontend/.env
frontend/build/
frontend/dist/

# macOS / Windows system files
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Virtual environment (Windows/Linux/Mac)
venv/
ENV/
env/
*.egg-info/


# Python
__pycache__/
*.py[cod]
*.pkl
*.h5

# Virtual environment
venv/
.env

# Node
node_modules/

# OS
.DS_Store
